<nav>
  <h1>Currency Converter</h1>
  <div>
    <i id="sun" class="fa-solid fa-sun" (click)="changeTheme()" [ngClass]="{'sun': theme == true}"></i>
    <i id="moon" class="fa-solid fa-moon" (click)="changeTheme()" [ngClass]="{'moon': theme == false}"></i>
  </div>
</nav>

<div class="main">
  <div class="card">
    <div class="c">

      <div class="c1">
        <input type="number" placeholder="enter amount" [(ngModel)]="input1" (input)="ref()">
        <div class="border"></div>
        <select class="currency1" [(ngModel)]="currency1" (change)="ref()">
          <option value="">Currency</option>
          <option *ngFor="let i of arr" value="{{i.cur}}">{{i.cur}}</option>
        </select>
      </div>
      
      <a><i class="material-symbols-outlined" (click)="change()">compare_arrows</i></a>

      <div class="c2">
        <input type="number" placeholder="converted amount" [(ngModel)]="input2" (input)="ref()">
        <div class="border"></div>
        <select class="currency2" [(ngModel)]="currency2" (change)="ref()">
          <option value="">Currency</option>
          <option *ngFor="let i of arr" value="{{i.cur}}">{{i.cur}}</option>
        </select>
      </div>

    </div>
  </div>
</div>

 