body{
    margin: 0;
    font-family: "Futura", sans-serif;
}

:root {
    --color0: #e3e7e9;
    --color1: #20509e;
    --color2: white;
    --color3: #eff3f5;
    --color4: #1e1e1f;
    --color5: #16d0c5;
    --color6: white;
    --color7: rgb(217, 243, 255);
    --color8: rgba(78, 78, 78, 0.2) 0px 2px 8px 0px;
}

/* .dark{
    --color0: #e3e7e9;
    --color1: #e3e7e9;
    --color2: #262d35;
    --color3: #1a1c1f;
    --color4: #e3e7e9;
    --color5: #16d0c5;
    --color6: #262d35;
    --color7: rgb(46, 62, 73);
    --color8: rgba(12, 12, 12, 0.2) 0px 2px 8px 0px;
} */

